header{
  display: flex;
  background: #34a0a4;
  justify-content: space-between;
}


.navbar {
  display: flex;
  width: 100%;
  margin-left: 10px;
    .navbar__container {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    .navbar__item {
      padding: 16px 16px;
      cursor: pointer;
      

      a {
        color: white;
        font-family: Helvetica;
        font-weight: 500;
        text-decoration: none;
      }

    }
  }

}

header .logo img {
  margin-left: 10px;
  max-width: 120px;
}